* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: grey;
    padding: 20px 0;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.navlinks {
    position: relative;
    transition: all 0.3s;
}

.navlinks:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -4px;
}

.container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
